<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZdVz--U96UUc0yX2uVbsEfa7L3NmFdx0</string>
	<key>GCM_SENDER_ID</key>
	<string>626159986782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.study.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-dacd5</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-dacd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626159986782:ios:43bf5b3326772f1aedeccf</string>
</dict>
</plist>